@model IEnumerable<GIFT_SHOP.Models.Delivery>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>ระบบจัดการข้อมูลประเภทการส่งสินค้า</h2>

<p>
    @Html.ActionLink("เพิ่มข้อมูล", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Delivery_name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Delivery_name)
        </td>
        <td>
            @Html.ActionLink("แก้ไข", "Edit", new { id=item.Delivery_ID }) |
            @Html.ActionLink("ลบ", "Delete", new { id=item.Delivery_ID })
        </td>
    </tr>
}

</table>
