@model IEnumerable<GIFT_SHOP.Models.Product>
@{
    ViewBag.Title = "Home Page";
}
<style>
    .mySlides {
        display: none;
    }
</style>
<div class="w3-content center-block" style="max-width:100%">

    <img class="mySlides" src="http://hbmedia.com.vn/wp-content/uploads/2019/03/13.png" style="width:100%">

    <img class="mySlides" src="https://www.internetcreation.net/wp-content/uploads/2015/04/banner-web-development.png" style="width:100%">
</div>
<script>
    var slideIndex = 0;
    carousel();

    function carousel() {
        var i;
        var x = document.getElementsByClassName("mySlides");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        slideIndex++;
        if (slideIndex > x.length) { slideIndex = 1 }
        x[slideIndex - 1].style.display = "block";
        setTimeout(carousel, 2000);
    }
</script>

<div class="col-12 center-block">
    <div class="row">

        @foreach (var item in Model)
        {
            <div class="col-lg-4 is-variable is-8">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img src="~/img/products/@Html.DisplayFor(modelItem => item.P_img)" alt="Placeholder image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-left">
                                <figure class="image is-48x48">
                                    <img src="~/img/products/@Html.DisplayFor(modelItem => item.P_img)" alt="Placeholder image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <p class="title is-4">@Html.DisplayFor(modelItem => item.P_name)</p>
                                <p class="subtitle is-6">@Html.DisplayFor(modelItem => item.Category.Ca_name)</p>
                            </div>
                        </div>

                        <div class="content">
                            สี @Html.DisplayFor(modelItem => item.P_colur)
                            ไซต์ @Html.DisplayFor(modelItem => item.P_size)
                            เนื้อผ้า @Html.DisplayFor(modelItem => item.P_texture)
                            <br />
                            ยาว @Html.DisplayFor(modelItem => item.P_length)
                            รอบอก/รอบเอว @Html.DisplayFor(modelItem => item.P_chest_waistline)
                            <br />
                            จำนวนสินค้าคงเหลือ @Html.DisplayFor(modelItem => item.P_amount) ชิ้น
                            <br />
                            ราคา @Html.DisplayFor(modelItem => item.P_price) บาท
                            <br />
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>