@model GIFT_SHOP.Models.Gallery

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<h2>ลบข้อมูล</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Gallery_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gallery_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product.P_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.P_name)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="ลบ" class="btn btn-default" /> |
            @Html.ActionLink("ย้อนกลับ", "Index")
        </div>
    }
</div>
