@model IEnumerable<GIFT_SHOP.Models.Gallery>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>ระบบจัดการรูปภาพ</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Gallery_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product.P_name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Gallery_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product.P_name)
        </td>
        <td>
            
            @Html.ActionLink("ลบ", "Delete", new { id=item.Gallery_ID })
        </td>
    </tr>
}

</table>
