


@model GIFT_SHOP.Models.Product

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>ระบบสั่งซื้อสินค้า</h2>

@using (Html.BeginForm())
{
    if (Session["User_Id"] == null)
    {
        Response.Redirect("~/Login/Index");
    }
    else
    {
        @Html.AntiForgeryToken()
    }

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.P_ID)
    @Html.HiddenFor(model => model.P_price)
    <input type="hidden" value="@ViewBag.Price" id="Price" name="Price" />

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div class="row">

            <div class="col-md-8">

                <div class="form-group">
                    @Html.LabelFor(model => model.P_name, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.P_name, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.P_name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.P_colur, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.P_colur, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.P_colur, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.P_texture, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.P_texture, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.P_texture, "", new { @class = "text-danger" })
                    </div>
                </div>


                <div class="form-group">
                    @Html.LabelFor(model => model.P_length, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.P_length, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.P_length, "", new { @class = "text-danger" })
                    </div>
                </div>


                <div class="form-group">
                    @Html.LabelFor(model => model.P_amount, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.P_amount, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.P_amount, "", new { @class = "text-danger" })
                    </div>
                </div>


                @if (Model.P_amount > 0)
                {
                    <div class="form-group">
                        @Html.Label("จำนวน", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.Editor("Sd_number", new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="บันทึกข้อมูล" class="btn btn-default" />
                        </div>
                    </div>
                }
            </div>
            <div class="col-md-4">
                <img src="~/img/products/@Html.DisplayFor(model => model.P_img)"
                     alt="company logo"
                     height="225"
                     asp-append-version="true" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("ดูรายการสั่งซื้อทั้งหมด", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
