@model GIFT_SHOP.Models.SaleDetail

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Product.P_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.P_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sd_number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sd_number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pro_Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pro_Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sale.S_add)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sale.S_add)
        </dd>


    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="ลบ" class="btn btn-default" /> |
            @Html.ActionLink("ยกเลิก", "Index")
        </div>
    }
</div>
