@model IEnumerable<GIFT_SHOP.Models.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

    <h2>ระบบจัดการข้อมูลสินค้า</h2>

<p>
    @Html.ActionLink("เพิ่มข้อมูล", "Create")
</p>
<table class="table table-hover table-bordered">
    <tr class="thead-light">
        <th>
            <center>@Html.DisplayNameFor(model => model.P_name)</center>
        </th>
        <th>
            <center>@Html.DisplayNameFor(model => model.P_img)</center>
        </th>
        <th>
            <center>@Html.DisplayNameFor(model => model.P_price)</center>
        </th>
        <th>
            <center>@Html.DisplayNameFor(model => model.P_colur)</center>
        </th>
        <th>
            <center>@Html.DisplayNameFor(model => model.P_size)</center>
        </th>
        <th>
            <center>@Html.DisplayNameFor(model => model.P_texture)</center>
        </th>
        <th>
            <center>@Html.DisplayNameFor(model => model.P_length)</center>
        </th>
        <th>
            <center>@Html.DisplayNameFor(model => model.P_chest_waistline)</center>
        </th>
        <th>
            <center>@Html.DisplayNameFor(model => model.P_amount)</center>
        </th>
        <th>
            <center> @Html.DisplayNameFor(model => model.Category.Ca_name)</center>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.P_name)
        </td>
        <td>
            <center>
                <img src="~/img/products/@Html.DisplayFor(modelItem => item.P_img)"
                     alt="img"
                     style="height : 30px; width : auto;"
                     asp-append-version="true" />
            </center>
        </td>
        <td align="right">
            @Html.DisplayFor(modelItem => item.P_price)
        </td>
        <td align="center">
            @Html.DisplayFor(modelItem => item.P_colur)
        </td>
        <td align="center">
            @Html.DisplayFor(modelItem => item.P_size)
        </td>
        <td align="center">
            @Html.DisplayFor(modelItem => item.P_texture)
        </td>
        <td align="center">
            @Html.DisplayFor(modelItem => item.P_length)
        </td>
        <td align="center">
            @Html.DisplayFor(modelItem => item.P_chest_waistline)
        </td>
        <td align="center">
            @Html.DisplayFor(modelItem => item.P_amount)
        </td>
        <td align="center">
            @Html.DisplayFor(modelItem => item.Category.Ca_name)
        </td>
        <td>
            <center>
                @Html.ActionLink("แก้ไข", "Edit", new { id = item.P_ID }) |
                @Html.ActionLink("ลบ", "Delete", new { id = item.P_ID })
            </center>
        </td>
    </tr>
}

</table>
