@model GIFT_SHOP.Models.User

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h3>ยืนยันการลบข้อมูล</h3>
<div>
    <h2>ระบบจัดการข้อมูลใช้งาน</h2>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.U_username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.U_username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.U_password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.U_password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.U_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.U_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.U_lastname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.U_lastname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.U_tel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.U_tel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.U_mail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.U_mail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.U_add)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.U_add)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="ลบข้อมูล" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
