@model IEnumerable<GIFT_SHOP.Models.Sale>
@{
    ViewBag.Title = "sales";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<script type="text/javascript">
    function printSelection(node) {
        var content = node.innerHTML
        var pwin = window.open('');
        pwin.document.open();
        pwin.document.write('<html><head>');
        pwin.document.write('<link href="https://fonts.googleapis.com/css?family=Kanit" rel="stylesheet">');
        pwin.document.write('<style>');
        pwin.document.write('* { ');
        pwin.document.write('font-family: "Kanit", sans-serif !important;');
        pwin.document.write('}');
        pwin.document.write('</style>');
        pwin.document.write('<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">');
        pwin.document.write('<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">');
        pwin.document.write('<body onload="window.print()">' + content + '</body></head></html>');
        pwin.document.close();
        if (document.getElementById("print").style.display == "inline") {
            document.getElementById("print").style.display = "none";
        }
        setTimeout(function () {
            pwin.close();
        }, 10000);
    }

</script>
<form method="get" action="/Report/Sales">
    <div class="navbar-end">
        <label class="control-label col-md-1">
            ตั้งแต่วันที่: &nbsp;
        </label>
        <input class="form-control" type="date" name="gte" id="gte">

        <label class="control-label col-md-1">
            ภึงวันที่: &nbsp; &nbsp; &nbsp;
        </label>
        <input class="form-control" type="date" name="lte" id="lte">
        <p> &nbsp; &nbsp; &nbsp;</p>
        <button type="submit" class="btn btn-light">ค้นหา</button>
    </div>
</form>
<hr />
<DIV id="report">
    <center> Kib SHOP </center>
    <center> รายงานข้อมูลการขาย </center>
    <hr />
    @*<p> <b>วันที่พิมพ์ </b>  @DateTime.Now.ToString("dd/MM/yyyy")</p>
        <p> <b>วันที่เริ่ม </b>  @DateTime.Now.ToString("dd/MM/yyyy")</p>
        <p> <b>วันที่สิ้นสุด </b>  @DateTime.Now.ToString("dd/MM/yyyy")</p>*@
    <div class="row">
        <div class="col-3">
            <p> <b>วันที่พิมพ์ </b>  @DateTime.Now.ToString("dd/MM/yyyy")</p>
        </div>

        <div class="col-9">
            <div style="align-items: stretch; display: flex;     justify-content: flex-end;">
                <b>ตั้งแต่วันที่:  &nbsp; @ViewBag.gte </b>
                <p> &nbsp; &nbsp; &nbsp;</p>
                <b>ถึงวันที่:  &nbsp; @ViewBag.lte</b>
                <p> &nbsp; &nbsp; &nbsp;</p>
            </div>
        </div>

    </div>
    <hr/>
    <table class="table table-hover table-bordered">
        <tr class="thead-light">
            <th>
                @Html.DisplayNameFor(model => model.S_date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.S_add)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.S_sum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.S_slip)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.S_packagenumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Delivery.Delivery_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.U_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stau.Staus_name)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.S_date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.S_add)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.S_sum)
                </td>
                <td>
                    <center>
                        <img src="~/img/slips/@Html.DisplayFor(modelItem => item.S_slip)"
                             alt="img"
                             style="height : 30px; width : auto;"
                             asp-append-version="true" />
                    </center>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.S_packagenumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Delivery.Delivery_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.U_name) &nbsp; @Html.DisplayFor(modelItem => item.User.U_lastname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Stau.Staus_name)
                </td>
            </tr>
        }

    </table>

</DIV>
<center>
    <input name="button6" type="button" value=" - = ออกรายงาน = - " id="print" class="btn-block btn-primary"
           onClick="printSelection(document.getElementById('report'))" />
</center>